<script>
$(function(){
  var hackNightId = "119736848105223";
  FB.getLoginStatus(function(response) {
    if(response.session) {
      FB.api('/' + hackNightId + '/invited?access_token='+ token, function(event) {
        console.log(event);
      });
    }
  });
});
</script>
<div id="title-header">
  <h2>The <span class="accent">Hackers</span></h2>
  <h2> I participated in Hack Night </h2>
</div>
