<p> New Hacker? </p>

<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
 FB.init({ 
    appId:'105681736187371', cookie:true, 
    status:true, xfbml:true 
 });
</script>
<fb:login-button>Login with Facebook</fb:login-button>
