<div id="title-header">
  <h2>The <span class="accent">Hackers</span></h2>
</div>
<div id="content">
  <% if current_hacker %>
      You're logged in!!
  <% end %>
  <% @hackers.each do |hacker| %>
    <img src="<%=hacker.image_url %>" />
  <% end %>
</div>
