@font-face {
  font-family: tcm;
  src: url("../fonts/tcm.ttf"); }

body {
  font-family: tcm, sans-serif;
  background: #111111; }

#wrapper {
  width: 920px;
  background: #1d1d1d;
  margin: 0 auto; }

#header {
  width: inherit;
  overflow: hidden;
  color: #aaaaaa;
  padding: 1em; }

#logo {
  text-transform: uppercase;
  width: 100px;
  float: left; }
  #logo a {
    font-size: 6em;
    letter-spacing: 5px; }
  #logo span {
    display: block;
    font-size: 1.2em;
    letter-spacing: 2.3em;
    margin: -1.2em 0 0 0.4em; }

#nav {
  display: block;
  float: right; }

#content {
  background: #171717; }

#sponsors {
  background: #1d1d1d; }

h2 {
  color: #eeeeee;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px #333333 solid; }

.accent {
  color: #ff8800; }

a {
  color: #dedede;
  text-decoration: none; }
  a:hover {
    color: #ff8800; }
