$link_color: #dedede;
$text_color: #aaaaaa;
$background_color: #1d1d1d;
$content_color: #171717;
$accent_color: #ff8800; // Used for text hover (the orange)

*{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@font-face{
  font-family: tcm;
  src: url('../fonts/tcm.ttf');
}

body{
  font-family: tcm, sans-serif;
  background: #111111;
}

#left_bg{
  width: 55px;
  height: 256px;
  margin-left: -55px;
  background: url('../images/left_bg.png');
  float:left;
}
#right_bg{
  width: 110px;
  height: 242px;
  margin-right: -110px;
  background: url('../images/right_bg.png');
  float:right;
}

#slides_container div{
  position:relative;
}

.caption {
	z-index:500;
	position:absolute;
	bottom:0px;
	left:0;
	height:70px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:760px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}

.prev{
  background: url('../images/left.png');
  width: 25px;
  height: 50px;
  display: block;
  float: left;
}
.next{
  background: url('../images/right.png');
  width: 25px;
  height: 50px;
  display: block;
  float: right;
}

#wrapper2{
  width: 920px;
  background: $background_color;
  margin: 0 auto;
}

#header{
  width: inherit;
  overflow: hidden;
  color: $text_color;
  padding: 1.2em;
  margin-top: -.8em;
  position: relative;
  height: 100px;
 // border-bottom: 1px #333333 solid;
  #logo {
    text-transform: uppercase;
    float: left;
    a {
      font-size: 6em;
      letter-spacing: 5px;
    }
    span {
      display: block;
      font-size: 1em;
      letter-spacing: 2.93em;
      margin: -1.2em 0 0 .4em;
    }
    
    img{
      display:block;
      float:left;
      margin-top: 1em;
      margin-right: .2em;
    }

    #text{
      float: left;
    }
  }
  #nav{
    position: absolute;
    bottom: 1em;
    right: 2em;
    display: block;
    text-transform: uppercase;
    font-size: 1.2em;
    overflow: hidden;

    li {
        float: left;
        height: 49px;
    }
    li a {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0 2px 3px #333333;
        color: #424242;
        display: block;
        float: left;
        font-family: 'Calibri',sans-serif;
        font-size: 1.05em;
        margin: 0 1em;
        padding: 5px .4em;
        text-transform: uppercase;
    }
    li a:hover {
        box-shadow: 0 2px 3px $accent_color;
    }
    li a:active {
        box-shadow: 0 0 3px #333333 inset;
        margin-top: 1px;
    }

/*
    li, a{
      display: block;
      float: left;
      height: 100px;
      width: 100px;
      border-left: solid 1px orange;
      padding: 1em;
    }

    a{
      margin-top: 4em;
    }
    */

  }

}


#content{
  color: $text_color;
  background: #171717;
}

#slideshow{
  padding: 1em;
}

#title-header{
  background: #222222;
  h2 {
    color: #eeeeee;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em 0em;
    border-bottom: 1px #333333 solid;
    border-top: 1px #333333 solid;
  }
}


.accent {
  color: $accent_color;
}


a{
  color: $link_color;
  text-decoration: none;
  &:hover{
    color: $accent_color;
  }
}
