* {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.slides_control {
  height: 450px; }

@font-face {
  font-family: tcm;
  src: url("../fonts/tcm.ttf"); }

@font-face {
  font-family: tcmbold;
  src: url("../fonts/tcmbold.ttf"); }

body {
  font-family: tcm, sans-serif;
  background: #111111; }

input[type="submit"], #button {
  display: block;
  width: 260px;
  color: #212121;
  box-shadow: 2px 2px 2px 1px #000000;
  border: 3px solid #ff8800;
  background: #ffa135;
  text-transform: uppercase;
  font-family: tcmbold, tcm, sans-serif;
  font-size: 1.4em;
  cursor: hand;
  text-align: center; }

#button {
  margin: 0 auto; }

form {
  margin: 0 auto;
  width: 300px;
  padding: 0em 1em;
  margin-bottom: 2em;
  border: 1em solid #333333;
  box-shadow: 1px 1px 1px 1px #000000;
  -moz-box-shadow: 1px 1px 5px 2px #000000;
  -webkit-box-shadow: 1px 1px 5px 2px #000000; }

#errors {
  padding: 1em 0em 0em 0em;
  width: 250px;
  margin: 0 auto; }
  #errors li {
    background: #ecabab;
    border: 1px solid #e04141;
    color: #333333;
    padding: 0px 5px; }

textarea, input {
  width: 250px;
  margin: 1.8em auto;
  display: block;
  font-size: .8em;
  background: #eeeeee;
  color: #666;
  border: none;
  padding: 5px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px; }

textarea {
  height: 100px;
  font-family: Lucida Grande, Arial, sans-serif;
  font-size: .8em; }

#left_bg {
  width: 55px;
  height: 256px;
  margin-left: -55px;
  background: url("../images/left_bg.png");
  float: left; }

#right_bg {
  width: 110px;
  height: 242px;
  margin-right: -110px;
  background: url("../images/right_bg.png");
  float: right; }

#slides_container div {
  position: relative; }

.caption {
  z-index: 500;
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 70px;
  padding: 5px 20px 0 20px;
  background: #000000;
  background: rgba(0, 0, 0, 0.7);
  width: 792px;
  font-size: 1.3em;
  line-height: 1.33;
  color: #fff;
  border-top: 1px solid #000;
  text-shadow: none; }

.prev {
  background: url("../images/left.png");
  width: 25px;
  height: 50px;
  display: block;
  float: left; }

.next {
  background: url("../images/right.png");
  width: 25px;
  height: 50px;
  display: block;
  float: right; }

#wrapper2 {
  width: 920px;
  background: #1d1d1d;
  margin: 0 auto; }

#header {
  width: inherit;
  overflow: hidden;
  color: #aaaaaa;
  padding: 1.2em;
  margin-top: -0.8em;
  position: relative;
  height: 100px; }
  #header #logo {
    text-transform: uppercase;
    float: left; }
    #header #logo a {
      font-size: 6em;
      letter-spacing: 5px; }
    #header #logo span {
      display: block;
      font-size: 1em;
      letter-spacing: 2.93em;
      margin: -1.2em 0 0 0.4em; }
    #header #logo img {
      display: block;
      float: left;
      margin-top: 1em;
      margin-right: .2em; }
    #header #logo #text {
      float: left; }
  #header #nav {
    position: absolute;
    bottom: 1em;
    right: 1em;
    display: block;
    text-transform: uppercase;
    font-size: 1.2em;
    overflow: hidden; }
    #header #nav li {
      float: left;
      height: 65px; }
    #header #nav li a {
      background: none repeat scroll 0 0 #FFFFFF;
      border: 1px solid #FFFFFF;
      border-radius: 5px 5px 5px 5px;
      box-shadow: 0 2px 3px #333333;
      color: #424242;
      display: block;
      float: left;
      font-family: 'Calibri',sans-serif;
      font-size: .85em;
      margin: 0 1.4em;
      padding: 2px .2em;
      margin-top: 35px;
      text-transform: uppercase;
      font-size: .85em; }
    #header #nav li a:hover {
      box-shadow: 0 2px 3px #ff8800; }
    #header #nav li a:active {
      box-shadow: 0 0 3px #333333 inset;
      margin-top: 36px; }

#content {
  color: #aaaaaa;
  background: #171717;
  overflow: hidden; }

#slideshow {
  padding: 1em; }

#title-header {
  background: #222222; }
  #title-header h2 {
    color: #eeeeee;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em 0em;
    border-bottom: 1px #333333 solid;
    border-top: 1px #333333 solid; }

.fb_button {
  position: absolute;
  right: 4em;
  top: 4em; }

.slides_container {
  padding: 1.4em 2em 0em 3em;
  margin-bottom: 2em; }
  .slides_container img {
    border-top: 1em solid #333333;
    border-left: 1em solid #333333;
    border-right: 1em solid #333333;
    box-shadow: 1px 1px 1px 1px #000000;
    -moz-box-shadow: 1px 1px 5px 2px #000000;
    -webkit-box-shadow: 1px 1px 5px 2px #000000; }
  .slides_container h1 {
    font-size: 1.4em;
    text-transform: uppercase; }
  .slides_container p {
    font-size: .9em;
    color: #aaaaaa; }

.accent {
  color: #ff8800; }

a {
  color: #dedede;
  text-decoration: none; }
  a:hover {
    color: #ff8800; }
