<div id="title-header">
  <h2>The <span class="accent">Sponsors</span></h2>
</div>
<div id="content">
  <% @sponsors.each do |sponsor| %>
    <a href=<%= sponsor_path(sponsor)%>><%= image_tag(sponsor.logo_url, :height => "100", :class => "sponsor_logo") %></a>
  <%end%>
</div>
