<div id="title-header">
  <h2>Presenting <span class="accent"><%= @project.name %></span></h2>
</div>

<div id="content">

</div>
<div id="title-header">
  <h2>The <span class="accent">Hackers</span></h2>
</div>
<div id="title-header">
  <h2><span class="accent">Achievements</span></h2>
</div>
<div id="title-header">
  <h2><span class="accent">Sponsored</span> By</h2>
</div>
