<!DOCTYPE html>
<html>
<head>
  <title>HackNight</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<ul id="nav">
</ul>

<%= yield %>

</body>
</html>
